node_modules
.DS_Store
dist
dist-ssr
*.local
.env
node_modules
.env

#Hardhat files
cache
artifacts

coverage
.eslintcache
.openzeppelin/*.json
dist (copy to js folder after build)/css/starfield.css
dist (copy to js folder after build)/js/jquery.min.js
dist (copy to js folder after build)/js/starfield.js
dist (copy to js folder after build)/add to index.html
