/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn-disabled,
  .btn-disabled:hover,
  .btn[disabled],
  .btn[disabled]:hover {
    max-height: 0;
    max-width: 0;
    min-height: 0;
    min-width: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
  }
}

@layer components {
  .btn-disabled,
  .btn-disabled:hover,
  .btn[disabled],
  .btn[disabled]:hover {
    max-height: 0;
    max-width: 0;
    min-height: 0;
    min-width: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
  }
}

@layer utilities {
  .btn-disabled,
  .btn-disabled:hover,
  .btn[disabled],
  .btn[disabled]:hover {
    max-height: 0;
    max-width: 0;
    min-height: 0;
    min-width: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
  }
}

@layer base {
  .bg-base-200 {
    --tw-bg-opacity: 0.2;
  }
}

@layer components {
  .bg-base-200 {
    --tw-bg-opacity: 0.2;
  }
}

@layer utilities {
  .bg-base-200 {
    --tw-bg-opacity: 0.2;
  }
}
